<mat-card>
  <form #contactForm="ngForm" (ngSubmit)="save(user)">
    <mat-card-header>
      <mat-card-title><h2>{{user.id ? 'Edit' : 'Add'}} User</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table flex cellspacing="3"><tr>
	    <td><mat-form-field>
	      <input matInput placeholder="username" [(ngModel)]="user.username" required name="username" #username>
	    </mat-form-field></td>
	    <td><mat-form-field>
	      <input matInput placeholder="password" [(ngModel)]="user.password" required name="password" #password>
	    </mat-form-field></td>
	  </tr></table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.form.valid">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(user.id)" *ngIf="user.id" type="button">Delete</button>
      <a mat-button routerLink="/users">Cancel</a>
    </mat-card-actions>
  </form>
</mat-card>